html, body{
	overflow-x: hidden;
}

/* Seções importantes */
#navegacao-principal a{
	color: white;
}

#navegacao-principal a h1{
	font-size: 26px;
	font-weight: 100;
	border-bottom: 1.3px solid white;
	letter-spacing: 0.05em;
}

#navegacao-principal li a{
	font-size: 18px;
	font-weight: 350;
	letter-spacing: 0.05em;
	margin-right: 0.5em;
}

#navegacao-principal li a:hover{
	color:#9bf0e1;
}

#navegacao-principal a:hover{
	text-decoration: none;
}

#capa{
	height: 100vh;
	background: url("../img/casa.jpg") no-repeat;
	background-size: 100% 140%;
}

#capa h1{
	font-size: 56px;
	font-weight: 330;
	letter-spacing: 0.04em;
	margin: 0.4em 0;
}

h2{
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 0.04em;
}

#sobre{
	padding: 5em 0;
}

#sobre p{
	text-align: justify;
}

#carrossel{
	background-color: #5a2866;
}

#depoimentos{
	padding: 5em 0;
}

#contato{
	padding: 5em 0 3em 0;
	background-color: gray;
}

#contato h2{
	font-size: 36px;
	font-weight: 200;
	letter-spacing: 0.04em;
	color: #ebebeb;
	margin-bottom: 0.8em;
}

.container-navegacao{
	width: 100%;
	margin: 0 4em;
	display: inline-flex;
}

.carrossel-container{
	margin: 4em 0;
}

.btn-default{
	background-color: #5a2866;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 0.06em;
	color: white;
	margin-bottom: 0.8em;
	padding: 0.5em 1.2em;
}

.bg-roxo{
	background-color: rgba(90,40,102,0.85);
}

.text-roxo{
	color: #5a2866;
}

.borda-navegacao{
	border: 1px solid #5a2866;
}

.desabilitarSelecao {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /* cursor: default; */
}

/* Animações */

@keyframes slide-in {
	from{
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@keyframes slide-out {
	from{
	}
	to {
		left: 50vw;
		opacity: 0;
	}
}

.animar-para-esquerda{
	left: 50vw;
}

.animar-para-direita{
	left: -50vw;
}

.iniciar-animacao{
	animation-name: slide-in;
	animation-duration: 1400ms;
	animation-fill-mode: forwards;
}

.terminar-animacao{
	animation-name: slide-out;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

.animar{
	position: relative;
	opacity: 0;
}

/* Auxiliar */

.borda{
	border: 2px solid red;
}
